
.container
  max-width: 100%
  width: $width
  margin: auto
  &.full
    width: 100%
.clearfix
  clear: both
.hero-header
  background-color: $primaryColor
  min-height: $heroMinHeight
  padding: $gap*4
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  color: white
  @include box-shadow(0,0,5px,10px,rgba(black,.2))
  .title
    @include text-shadow()
    font-size: 40px
    font-weight: 300


.category
  background-color: $primaryColor
  color: white
  border-radius: $radius
  padding: 0 $gap*2
  display: inline-flex
  align-items: center
  min-height: 23px
  font-size: 12px
  font-weight: 300
  margin: 5px
  &:first-child
    margin-left: 0

.home-content
  margin: $gap*10 auto
  padding: 0 $gap*5
  h2
    @include text-shadow(2px,2px,5px, $color: rgba(0,0,0,.4))
    font-size: 35px
    display: block
    font-weight: 700
    margin-bottom: $gap*6
