@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false)
  @if $inset
    -webkit-box-shadow: $top $left $blur $spread $color inset
    -moz-box-shadow: $top $left $blur $spread $color inset
    box-shadow: $top $left $blur $spread $color inset
  @else
    -webkit-box-shadow: $top $left $blur $spread $color
    -moz-box-shadow: $top $left $blur $spread $color
    box-shadow: $top $left $blur $spread $color

@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4))
    text-shadow: $x $y $blur $color

@mixin breakpoint($media)
  @if $media == xs
    @media only screen and (min-width: $screen-xs-min)
      @content
  @else if $media == sm
    @media only screen and (min-width: $screen-sm-min)
      @content
  @else if $media == m
    @media only screen and (min-width: $screen-md-min)
      @content
  @else if $media == lg
    @media only screen and (min-width: $screen-lg-min)
      @content
