.movie-list
  margin: 0 -$gap*2
  &-item-wrapper
    margin-top: $gap*4
    float: left
    padding: 0 $gap*2
    width: 100%
    @include breakpoint(sm)
      width: 50%
    @include breakpoint(m)
      width: 25%
  &-item
    @include box-shadow(0,0,6px,2px,rgba(black,.1))
    padding: $gap*4
    border-radius: $radius
    display: flex
    flex-direction: column
    background-color: white
    height: 522px
    &:hover
       @include box-shadow(0,0,6px,2px,rgba($secondaryColor,.5))
    .cover
      @include box-shadow(2px,2px,10px,1px,rgba(black,.4))
      height: 300px
      width: 100%
      border-radius: $radius
      overflow: hidden
      img
        height: 100%
        width: 100%
        object-fit: cover
    .detail
      display: flex
      flex: 1
      flex-direction: column
      .title
        font-size: 20px
        font-weight: 600
        margin-top: $gap*5
      p
        display: -webkit-box
        -webkit-line-clamp: 2
        -webkit-box-orient: vertical
        text-overflow: ellipsis
        overflow: hidden
        font-size: 13px
        font-weight: 300
        margin: $gap*2 0
        color: rgba($fontColor,.6)
      .categories
        margin-top: auto
      .ratings
        margin: $gap*2 0
        display: flex
        align-items: center
        & > span
          font-size: 13px
          font-weight: 500
          margin-left: $gap
