.movieDetail
  display: block
  min-height: 100vh
  .backToHome
    padding: $gap*5
    @include text-shadow()
    font-size: 17px
    font-weight: 400
    display: block
    @include breakpoint(m)
      color: white
      position: absolute
      left: 10
      top: 10
      z-index: 3
    span
      margin-left: $gap*2
  .banner
    height: 40vh
    max-height: 40%
    width: 100%
    overflow: hidden
    background-color: #000
    position: relative
    display: none
    z-index: -1
    & > img
      width: 100%
      height: 100%
      opacity: .5
      object-fit: cover
    @include breakpoint(m)
        display: block
  .movie-content
    display: flex
    flex-direction: column
    width: 100%
    justify-content: center
    padding: $gap*5
    @include breakpoint(m)
      flex-direction: row
      margin-top: -80px
      padding-top: 0
    .ratings
      display: flex
      margin-bottom: $gap*4
      & >span
        margin-left: $gap*2
    .cover
      @include box-shadow(0,0,15px,5px,rgba(white,.5))
      width: 400px
      margin: auto
      @include breakpoint(m)
        margin: 0
      img
        width: 100%
    .content
      flex: 1
      padding-top: $gap*5
      text-align: center
      @include breakpoint(m)
        padding-left: $gap*8
        text-align: left
      .title
        @include text-shadow()
        font-size: 30px
        font-weight: 700
        display: block
        margin-bottom: $gap*5
        margin-top: $gap*3
        @include breakpoint(m)
          color: white
          margin-top: $gap*0
          margin-bottom: $gap*15
      p
        font-size: 18px
        line-height: 1.4
      .categories
        margin-top: $gap*4


