
.search-wrapper
  position: relative
  z-index: 5
  width: 100%
  max-width: 100%
  height: $searchHeight
  @include breakpoint(m)
    width: $searchWidth
.search
  @include box-shadow(0,0,20px,4px,rgba(black,0.3))
  margin-top: $gap*10
  background-color: white
  border-radius: $radius
  position: relative
  overflow: hidden
  .search-input
    overflow: hidden
    width: 100%
    input
      background: none
      border: none
      padding-left: $gap*4
      height: $searchHeight
      font-size: 20px
      width: 100%
    button
      position: absolute
      right: 0
      top: 0
      height: $searchHeight
      border: none
      padding: 0 $gap*6
      font-size: 25px
      color: $fontColor
      background-color: white
      display: flex
      align-items: center
      justify-content: center
      cursor: pointer
      transition: all 500ms
      &:hover
        background-color: $secondaryColor
        color: white
  .result
    max-height: 0
    visibility: hidden

    border-top: 1px solid $borderColor
    color: $fontColor
    transition: max-height .4s ease
    overflow-y: auto
    &-info
      color: $secondaryColor
  &.searched
    .result
      max-height: 600px
      visibility: visible
  .result-info
    padding: $gap*3

.search-movie-list
  &_item
    display: flex
    min-height: 120px
    width: 100%
    padding: $gap*3
    flex-direction: column
    border-bottom: 1px solid $borderColor
    align-items: center
    @include breakpoint(sm)
        align-items: flex-start
        flex-direction: row
    .ratings
      display: flex
      align-items: center
      margin: $gap*2 0
      & > span
        font-weight: 600
        margin-left: $gap
    .cover
      max-height: 100px
      cursor: pointer
      width: 100px
      border-radius: $radius
      overflow: hidden
      @include breakpoint(sm)
        max-height: auto
      img
        height: 100%
        width: 100%
        object-fit: cover
    .detail
      padding-top: $gap
      flex: 1
      display: flex
      flex-direction: column
      padding-left: $gap*4
      .title
        font-size: 20px
        font-weight: 700
      p
        font-size: 13px
        font-weight: 300
        margin: $gap*2 0
      .categories
        margin-top: auto
    &:hover
      background-color: $hoverBgColor
