@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&display=swap')
@import 'reset.css'
@import 'variables'
@import 'macros'

html, body
  padding: 0
  margin: 0
  font-family: 'Open Sans', sans-serif
  font-size: 16px
  line-height: 100%
body
  background-color: $hoverBgColor

a
  color: inherit
  text-decoration: none
  cursor: pointer

*
  box-sizing: border-box
  font-family: 'Open Sans', sans-serif

@keyframes spinner
  to
    transform: rotate(360deg)
.fa-spinner
  animation: spinner 1s linear infinite

@import 'app'
@import 'search'
@import 'movieList'
@import 'movieDetail'
